/*
 * Login: xmajer21
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */

 /* Preflight, reset margins */
body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
ul,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    padding-inline-start: 0px;
}

/* Color palette, variables */

:root {
    --brown: #3c1f0a;
    --font-size-1: 14px;
    --font-size-2: 18px;
    --font-size-h2-1: 40px;
    --font-size-h2-2: 32px;
    --font-size-h3: 24px;
    --line-height: 170%;

    --gray: #898989;
    --light-gray: #bfbfbf;
    --dark-gray: #4d4d4d;
    --off-white: #f7f7f7;
    --black: black;
    --white: white;
    --blue: steelblue;

    --rounded-radius: 5px;
    --shadow-size: 10px;
    --animation-length: 0.5s;
}

body {
    font-family: "PT Sans"; /* Global font */
    font-size: 12pt;
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

p {
    line-height: var(--line-height);
    color: var(--gray);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: bold;
    margin-bottom: 5px;
}

section {
    margin-top: 60px;
    margin-bottom: 80px;
}

/* ---------- Header ---------- */

#header {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    color: var(--white);
    /*image header.jpg*/
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: local;
}

#header-menu {
    position: relative;
    height: 33.3%;
}

#header .content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#contacts {
    position: absolute;
    top: 20px;
    right: 0px;
    color: var(--gray)
}

#contacts span {
    padding-right: 8px;
}

#contacts i {
    padding-right: 5px;
}

#mail a:hover {
    color: var(--off-white);
}

#networks {
    position: absolute;
    top: 60px;
    right: 0px;
}

#logo {
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 15px;
}

/* Icons (bomb, phone, email) */
.fas {
    color: var(--blue);
}

.fab {
    color: var(--blue);
    font-size: 20pt;
    letter-spacing: .15em;
}

.fab:hover {
    color: var(--off-white);
}

/*logo-font*/
.fa-bomb ~ a {
    font-family: 'Special Elite';
    color: var(--blue);
}

.fa-bomb ~ a:hover {
    color: var(--off-white);
}

#navigation ul {
    display: flex;
}

#navigation li {
    list-style-type: none;
    padding: 5px 15px;
    font-size: 13pt;
    letter-spacing: .05em;
    border: 1px solid transparent;
    transition: all var(--animation-length) linear;
}

#navigation li:hover {
    border-color: var(--off-white);
}

#header-title {
    display: flex;
    gap: 60px;
    flex-direction: column;
    justify-content: center;
}

#header-title h1 {
    font-weight: bold;
    font-size: 64px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Get Started button */
/* Replicates behavior from video: only text is clickable */
#get-started {
    padding: 20px;
    border-radius: 15px;
    margin-left: 20px; /*Match margin of #header-title h1*/
    border: 2px solid var(--gray);
    color: var(--gray);
    font-size: 18px;
    width: fit-content;
    transition: all var(--animation-length) linear;
}

#get-started a {
    width: 100%;
    height: 100%;
}

#get-started:hover {
    border-color: var(--white);
    color: var(--white);
    background-color: var(--blue);
}

/* ---------- Services ---------- */

#services {
    text-align: center;
}

#services .content > p {
    font-size: var(--font-size-2);
}

#services h2 {
    font-size: var(--font-size-h2-1);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#services .content > div {
    margin: auto;
    width: fit-content;
    display: grid;
    margin-top: 40px;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.services-card {
    width: 300px;
    padding: 15px;
    border-radius: var(--rounded-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px var(--shadow-size);
}

.services-card:hover h3 {
    color: var(--blue);
}

.services-card p {
    font-size: var(--font-size-1);
}

.services-card:hover {
    width: 300px;
    border-radius: var(--rounded-radius);
    box-shadow: var(--blue) 0px 0px var(--shadow-size);
}

.services-card > div {
    margin-top: 10px;
    margin-bottom: 30px;
}

.services-card > p {
    color: var(--light-gray);
}

.services-card img {
    width: 50px;
    padding: 5px;
    border: 1px solid var(--blue);
    border-radius: var(--rounded-radius);
}

.services-card  img:last-child {
    display: none;
    background-color: var(--blue);
}

.services-card:hover  img:first-child {
    display: none;
}

.services-card:hover  img:last-child {
    display: inline-block;
}

/* ---------- About ---------- */

#about {
    background-color: var(--off-white);
}

#about p {
    font-size: var(--font-size-2);
}

#about .content {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-item img {
    margin: 20px 80px;
    width: 40%;
    border-radius: var(--rounded-radius);
    transition: all var(--animation-length);
}

.about-item img:hover {
    width: 50%;
}

.about-item h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: var(--font-size-h2-2);
    font-weight: bold;
}

#about .content .about-item:nth-child(2n+1) img {
    float: left;
}

#about .content .about-item:nth-child(2n) img {
    float: right;
}

/* ---------- Team ---------- */

#team .content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
}

#team h2 {
    flex-basis: 100%;
    font-size: var(--font-size-h2-1);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.team-card {
    flex-grow: 1;
    flex-basis: 0;

    border-radius: var(--rounded-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px var(--shadow-size);
    overflow: hidden;
    text-align: center;

    padding-bottom: 20px;
}

.team-card img {
    width: 100%;
    padding-bottom: 40px;
}

.team-card:hover {
    box-shadow: var(--blue) 0px 0px var(--shadow-size);
}


.team-card:hover h3 {
    color: var(--blue);
}

.team-card h4 {
    color: var(--gray);
    font-weight: bold;
    padding-bottom: 5px;
}

.team-card p {
    color: var(--light-gray);
    font-size: var(--font-size-1);
}

/* ---------- Stats ---------- */

#stats {
    border-top: 1px dashed black;
    padding: 60px 0px;
}

#stats .content {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: center;
}

.stats-card {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 300px;
    background-color: var(--dark-gray);
    color: var(--white);
    border-radius: var(--rounded-radius);
    text-align: center;
    padding: 10px;
    padding-top: calc(16px + 10px + 20px);
    position: relative;
}

.stats-card p {
    color: var(--light-gray);
    font-size: var(--font-size-1);
}

.stats-card i {
    background-color: var(--white);
    padding: 10px;
    border-radius: 100%;
    color: var(--blue);
    font-size: 32px;
    position: absolute;
    top: calc((32px + 20px) / -2);
    left: calc(50% - 16px - 10px);
}

/* ---------- Price & Schedule ---------- */

#price {
    background-color: var(--off-white);
}

#price .content {
    padding-top: 60px;
}

#price table {
    width: 80%;
    margin: auto;
    border-spacing: 1px 20px;
    text-align: left;
}

#price h2 {
    font-size: var(--font-size-h2-2);
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

#price th {
    padding: 20px;
}

#price td {
    padding: 20px;
    border-top: 1px dotted var(--blue);
    border-bottom: 1px dotted var(--blue);
}
