// Variables

$border-thickness: 25px;
$mobile-border-thickness: 50px;

$nav-width: 240px;
$nav-top-padding: 100px;

$social-width: 80px;
$social-margin: 27px;

:root {
    --background-color: #ecf8f9;
    --off-white: #ececec;
    --main-color: #3ddc84;
    --accent-color: #e3f9a0;
    --font-color: #040404;
}

$background-color: var(--background-color);
$off-white: var(--off-white);
$main-color: var(--main-color);
$accent-color: var(--accent-color);
$font-color: var(--font-color);

@mixin desktop() {
    @media (min-width: 768px) {
        @content ;
    }
}