// Variables

$border-thickness: 25px;
$nav-width: 240px;
$nav-top-padding: 100px;

$social-width: 80px;
$social-margin: 27px;

$off-white: #ececec;
$main-color: #3ddc84;

@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content ;
        }
    }
}