@use 'vars';

#about {
    display: flex;
    flex-direction: column;
}

.rectangle-container {
    display: flex;
    flex-direction: column;

    gap: 10px;
}


@mixin color-border($thickness) {
    border-width: $thickness;
    border-color: vars.$main-color;
    border-style: solid;
}

.name-rect {
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.info-rect {
    @include color-border(20px);

    font-size: 1.1em;

    padding: 20px;

    backdrop-filter: blur(10px);

    h3 {
        font-weight: 100;
        font-size: 2.4em;
        margin-bottom: 0.2em;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.3em;

        font-size: 1.2em;
    }
}

.socials-container {
    display: flex;
    flex-direction: column;
    gap: vars.$social-margin;
    flex-direction: row;
}

.picture-rect {
    @include color-border(20px);
    box-sizing: border-box;

    background-size: cover;

    display: inline-block;

    img {
        width: 390px;
    }
}

.rectangle-container {}

@include vars.desktop {
    .rectangle-container {
        flex-grow: 1;
        position: relative;

        max-width: 1200px;
    }

    .picture-rect {
        position: absolute;
        left: min(calc(50% - 40px), calc(100% - 430px));
        top: 10%;
    }

    .socials-container {
        flex-direction: column;

        position: absolute;
        right: calc(50% + 40px + vars.$social-margin);
        bottom: calc(53% + vars.$social-margin);
    }

    .info-rect {

        display: inline-block;
        padding: 20px;

        position: absolute;
        width: 400px;
        height: 200px;
        right: min(calc(50% - 40px), calc(100% - 480px));
        top: 47%;


    }
}

.social {
    background-color: vars.$main-color;
    color: vars.$accent-color;
    width: vars.$social-width;
    height: vars.$social-width;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;

    &:hover {
        color: white;
    }
}