@use 'vars';

#name {
    z-index: 5;
    font-weight: 100;
    font-size: 4em;

    position: fixed;
    display: block;
    font-size: 32px;
    top: 0;
    left: 5px;

    display: flex;
    align-items: center;
    height: vars.$mobile-border-thickness;
}

@include vars.breakpoint(desktop) {
    #name {
        z-index: 3;
        font-size: 4em;

        position: absolute;
        top: vars.$border-thickness;
        left: vars.$border-thickness;
        margin-top: 0.2em;
        margin-left: 0.3em;
    }
}

header {
    display: none;
    position: fixed;
    z-index: 2;

    top: vars.$border-thickness;
    left: vars.$border-thickness;

    h2 {
        margin-top: 0.3em;
        margin-left: 0.5em;
    }
}

@include vars.breakpoint(desktop) {
    header {
        display: block;
    }
}

nav {
    margin-top: vars.$nav-top-padding;
    margin-left: 0.8em;
    font-size: 1.2em;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    box-sizing: border-box;

    * {
        transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    a {
        &:hover {
            text-decoration: underline;
        }

        padding: 0px;
        background-color: transparent;
        border-radius: 3px;
        color: inherit;
    }
}

.active {
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    color: black;
}