@use 'vars';

#name {
    z-index: 3;
    font-weight: 100;
    font-size: 4em;

    position: absolute;
    top: vars.$border-thickness;
    left: vars.$border-thickness;
    margin-top: 0.2em;
    margin-left: 0.3em;
}

header {
    display: block;
    position: fixed;
    z-index: 2;

    top: vars.$border-thickness;
    left: vars.$border-thickness;

    h2 {
        margin-top: 0.3em;
        margin-left: 0.5em;
    }
}

@include vars.breakpoint(mobileonly) {
    header {
        display: none;
    }
}

nav {
    margin-top: vars.$nav-top-padding;
    margin-left: 0.6em;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;

    * {
        transition: inherit; // not inhereted by default
    }

    font-size: 1.2em;

    a {
        &:hover {
            text-decoration: underline;
        }

        padding: 0px;
        background-color: transparent;
        border-radius: 3px;
        color: inherit;
    }
}

.active {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    color: black;
}