@use 'vars';

html {
    scroll-behavior: smooth;
}

::selection {
    background: vars.$accent-color;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: vars.$background-color;
    color: vars.$font-color;
}


// 2 columns, left color border and main
.main-columns {
    display: block;
    margin-left: 20px;
}

@include vars.desktop {
    .main-columns {
        display: grid;
        grid-template-columns: vars.$border-thickness 1fr;
        margin-left: 0px;
    }
}

// top and left screen borders

.frame-top {
    position: sticky;
    background-color: vars.$main-color;

    height: vars.$mobile-border-thickness;
    width: 100vw;

    display: flex;
    justify-content: end;
}

@include vars.desktop {
    .frame-top {
        height: vars.$border-thickness;
    }
}

#hamburger {
    width: vars.$mobile-border-thickness;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 80%;
        width: 80%;
    }
}

@include vars.desktop {
    #hamburger {
        display: none;
    }
}

.left-border {
    z-index: 4;
    background-color: vars.$main-color;
    height: 100%;
    display: none;
}

@include vars.desktop {
    .left-border {
        display: block;
    }
}

main {
    margin-right: 20px;
}

@include vars.desktop {
    main {
        margin-left: vars.$nav-width;
    }
}