@use 'vars';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: vars.$off-white;
    color: black;
}


// 2 columns, left color border and main
.main-columns {
    display: grid;
    grid-template-columns: vars.$border-thickness 1fr;
}

// top and left screen borders

.frame-top {
    position: sticky;
    z-index: 4;
    top: 0;
    height: vars.$border-thickness;
    background-color: vars.$main-color;
}

.left-border {
    z-index: 4;
    background-color: vars.$main-color;
    height: 100%;
    display: none;
}

@include vars.breakpoint(desktop) {
    .left-border {
        display: block;
    }
}

main {
    margin-right: 20px;
}

@include vars.breakpoint(desktop) {
    main {
        margin-left: vars.$nav-width;
    }
}