$border-thickness: 25px;
$frame-color: white;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: aliceblue;
}

// division into 2 (3) columns

.main-columns {
    display: grid;
    grid-template-columns: $border-thickness 1fr 2fr;
}

// top and left screen borders

.frame-top {
    position: sticky;
    top: 0;
    height: $border-thickness;
    background-color: $frame-color;
}

.left-border {
    background-color: $frame-color;
}