@use 'vars';

main>section {
    min-height: 100vh;
    scroll-margin-top: 4rem;

    max-width: 1200px;
    margin: auto; // todo center it better

    >h2 {
        font-size: 3em;
        padding-top: 0.3em;
        padding-left: 0.3em;
        padding-bottom: 0.6em;
    }
}