@use 'vars';

main>section {
    min-height: 100vh;
    scroll-margin-top: 4rem;

    max-width: 1200px;
    margin: auto; // todo center it better

    >h2 {
        font-size: 3em;
        padding-top: 0.3em;
        padding-left: 0.3em;
        padding-bottom: 0.6em;
    }
}

.edu-timeline {

    margin-left: 4em;

    li {
        border-left: 2px solid vars.$main-color;

        padding: {
            left: 2em;
            top: 4em;
            bottom: 5em;
        }

        position: relative;

        h2 {
            font-size: 22pt;
        }

        .timespan {
            position: absolute;
            top: calc(4em + 15px);
            right: calc(100% + 7px + 0.6em);
            white-space: nowrap;
        }

        &::after {
            content: "";
            width: 14px;
            height: 14px;
            background-color: vars.$main-color;
            border-radius: 100%;
            position: absolute;
            top: calc(4em + 15px);
            left: -7px;
        }
    }
}