$off-white: #eee;

section {
    border-bottom: 1px solid $off-white;
    min-height: 100vh;
    scroll-margin-top: 4rem;

    >h2 {
        font-size: 3em;
        padding-top: 0.3em;
        padding-left: 0.3em;
        padding-bottom: 0.6em;
    }
}

.edu-timeline {

    margin-left: 4em;

    li {
        border-left: 1px solid $off-white;

        padding: {
            left: 2em;
            top: 2em;
            bottom: 3em;
        }

        position: relative;

        h2 {
            font-size: 22pt;
        }

        .timespan {
            position: absolute;
            top: 25%;
            right: calc(100% + 7px + 0.6em);
            white-space: nowrap;
        }

        &::after {
            content: "";
            width: 14px;
            height: 14px;
            background-color: $off-white;
            border-radius: 100%;
            position: absolute;
            top: 25%;
            left: -7px;
        }
    }
}