/* reset style */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  color: aliceblue;
}

.main-columns {
  display: grid;
  grid-template-columns: 25px 1fr 2fr;
}

.frame-top {
  position: sticky;
  top: 0;
  height: 25px;
  background-color: white;
}

.left-border {
  background-color: white;
}

header {
  position: sticky;
  top: 30px;
  padding-left: 1.8em;
  padding-top: 1.3em;
}
header h1 {
  font-weight: 100;
  font-size: 4em;
}
header h2 {
  margin-top: 0.3em;
  margin-left: 0.5em;
}

nav {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 10em;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
}
nav * {
  transition: inherit;
}
nav a {
  padding: 0px;
  background-color: transparent;
  border-radius: 3px;
  color: inherit;
}
nav a:hover {
  text-decoration: underline;
}

.active {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  color: black;
}

section {
  border-bottom: 1px solid #eee;
  min-height: 100vh;
  scroll-margin-top: 4rem;
}
section > h2 {
  font-size: 3em;
  padding-top: 0.3em;
  padding-left: 0.3em;
  padding-bottom: 0.6em;
}

.edu-timeline {
  margin-left: 4em;
}
.edu-timeline li {
  border-left: 1px solid #eee;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 3em;
  position: relative;
}
.edu-timeline li h2 {
  font-size: 22pt;
}
.edu-timeline li .timespan {
  position: absolute;
  top: 25%;
  right: calc(100% + 7px + 0.6em);
  white-space: nowrap;
}
.edu-timeline li::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #eee;
  border-radius: 100%;
  position: absolute;
  top: 25%;
  left: -7px;
}

#about {
  display: flex;
  flex-direction: column;
}
#about .rectangle-container {
  flex-grow: 1;
  position: relative;
}

.name-rect {
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.info-rect {
  border-width: 20px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  padding: 20px;
  position: absolute;
  width: 400px;
  height: 200px;
  right: 50%;
  top: 47%;
  backdrop-filter: blur(10px);
}
.info-rect h3 {
  font-weight: 100;
  font-size: 2.4em;
  margin-bottom: 0.2em;
}
.info-rect ul {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  font-size: 1.2em;
}

.picture-rect {
  border-width: 20px;
  border-color: white;
  border-style: solid;
  background-image: url(assets/headshot.jpg);
  background-size: cover;
  display: inline-block;
  position: absolute;
  width: 390px;
  height: 390px;
  right: 10%;
  top: 10%;
}

.socials-container {
  display: flex;
  gap: 27px;
  position: absolute;
  right: calc(10% + 390px + 40px + 27px);
  bottom: calc(53% + 27px);
}

.social {
  background-color: white;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social * {
  width: 50px;
  height: 50px;
}

/*
    style.css
    Michal Majer
    xmajer21
*/

/*# sourceMappingURL=style.css.map */
