/* reset style */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --background-color: #ecf8f9;
  --off-white: #ececec;
  --main-color: #3ddc84;
  --accent-color: #e3f9a0;
  --font-color: #040404;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--accent-color);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

.main-columns {
  display: block;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .main-columns {
    display: grid;
    grid-template-columns: 25px 1fr;
    margin-left: 0px;
  }
}
.frame-top {
  position: sticky;
  background-color: var(--main-color);
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: end;
}

@media (min-width: 768px) {
  .frame-top {
    height: 25px;
  }
}
#hamburger {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hamburger svg {
  height: 80%;
  width: 80%;
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
}
.left-border {
  z-index: 4;
  background-color: var(--main-color);
  height: 100%;
  display: none;
}

@media (min-width: 768px) {
  .left-border {
    display: block;
  }
}
main {
  margin-right: 20px;
}

@media (min-width: 768px) {
  main {
    margin-left: 240px;
  }
}
#name {
  z-index: 5;
  font-weight: 100;
  font-size: 4em;
  position: fixed;
  display: block;
  font-size: 32px;
  top: 0;
  left: 5px;
  display: flex;
  align-items: center;
  height: 50px;
}

@media (min-width: 768px) {
  #name {
    z-index: 3;
    font-size: 4em;
    position: absolute;
    top: 25px;
    left: 25px;
    margin-top: 0.35em;
    margin-left: 0.3em;
  }
}
header {
  z-index: 5;
  position: sticky;
  top: 0;
}

nav {
  display: block;
  z-index: 2;
  height: 0;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 0.8em;
  font-size: 1.2em;
  box-sizing: border-box;
}
nav * {
  transition: inherit;
}
nav li {
  transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  margin-top: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  padding: 0px;
  background-color: transparent;
  border-radius: 3px;
  color: inherit;
}
nav li:hover {
  text-decoration: underline;
}

.active {
  padding: 10px;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: black;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ nav {
  background: var(--main-color);
  display: block;
  margin: 0;
  padding-left: 0.8em;
  height: auto;
}

@media (min-width: 768px) {
  #header #nav {
    position: fixed;
    top: 25px;
    left: 25px;
    height: auto;
    background-color: transparent;
    margin-top: 100px;
    margin-left: 0.8em;
  }
}
main > section {
  min-height: 100vh;
  scroll-margin-top: 4rem;
  max-width: 1200px;
  margin: auto;
}
main > section > h2 {
  font-size: 3em;
  padding-top: 0.3em;
  padding-left: 0.3em;
  padding-bottom: 0.6em;
}

#edu-timeline {
  background-clip: border-box;
  margin-left: 6.5em;
  padding-top: 2em;
  padding-bottom: 8em;
  border-left: 2px solid var(--main-color);
}
#edu-timeline li {
  padding-left: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
}
#edu-timeline li h2 {
  font-size: 22pt;
  margin-bottom: 0.1em;
}
#edu-timeline li .timespan {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  top: calc(50% - 10px);
  right: calc(100% + 7px + 0.6em);
  white-space: nowrap;
}
#edu-timeline li::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--main-color);
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 7px);
  left: -8px;
}

#about {
  display: flex;
  flex-direction: column;
}

.rectangle-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-rect {
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.info-rect {
  border-width: 20px;
  border-color: var(--main-color);
  border-style: solid;
  font-size: 1.1em;
  padding: 20px;
  backdrop-filter: blur(10px);
}
.info-rect h3 {
  font-weight: 100;
  font-size: 2.4em;
  margin-bottom: 0.2em;
}
.info-rect ul {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  font-size: 1.2em;
}

.socials-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  flex-direction: row;
}

.picture-rect {
  border-width: 20px;
  border-color: var(--main-color);
  border-style: solid;
  box-sizing: border-box;
  background-size: cover;
  display: inline-block;
}
.picture-rect img {
  width: 390px;
}

@media (min-width: 768px) {
  .rectangle-container {
    flex-grow: 1;
    position: relative;
    max-width: 1200px;
  }

  .picture-rect {
    position: absolute;
    left: min(50% - 40px, 100% - 430px);
    top: 10%;
  }

  .socials-container {
    flex-direction: column;
    position: absolute;
    right: calc(50% + 40px + 27px);
    bottom: calc(53% + 27px);
  }

  .info-rect {
    display: inline-block;
    padding: 20px;
    position: absolute;
    width: 400px;
    height: 200px;
    right: min(50% - 40px, 100% - 480px);
    top: 47%;
  }
}
.social {
  background-color: var(--main-color);
  color: var(--accent-color);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.social:hover {
  color: white;
}

#projects {
  position: relative;
}
#projects h2 {
  z-index: 2;
  position: absolute;
  top: 0;
  padding-bottom: 0;
}
#projects > section:last-child {
  margin-top: 0;
}
#projects section:last-child {
  padding-bottom: 7em;
}
#projects section {
  scroll-margin-top: 170px;
}
#projects section h3 {
  font-size: 1.8em;
  margin-bottom: 0.3em;
}
#projects section h4 {
  font-size: 1.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
  border-bottom: 2px solid var(--accent-color);
}
#projects section div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
#projects section p {
  max-width: 60ch;
}
#projects section img {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  #projects section div {
    flex-direction: row;
  }
  #projects section img {
    height: 200px;
    width: auto;
  }
}
#projects-timeline-bar {
  position: sticky;
  background-color: var(--background-color);
  top: 0;
  height: 10px;
  padding-top: 120px;
  padding-bottom: 40px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
#projects-timeline-bar .active-dot {
  background-color: var(--accent-color);
  border-color: var(--main-color);
}

#projects-timeline-full {
  height: 8px;
  border-radius: 10px;
  background-color: lightgray;
  position: relative;
}

#timeline-progress {
  background-color: var(--main-color);
  height: 100%;
  border-radius: 20px;
  transition: all 300ms cubic-bezier(0.42, 0.26, 0.04, 0.84);
}

#project-aligator-point {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: lightgray;
  border: 4px solid lightgray;
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  display: flex;
  justify-content: center;
  transition: all 400ms cubic-bezier(0.42, 0.26, 0.04, 0.84);
}
#project-aligator-point:hover {
  background-color: var(--main-color);
  border-color: var(--accent-color);
}
#project-aligator-point a {
  position: absolute;
  bottom: -10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: calc(28px + 0.5em);
  padding-top: 0.5em;
  white-space: nowrap;
}

#project-crave-point {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: lightgray;
  border: 4px solid lightgray;
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  display: flex;
  justify-content: center;
  transition: all 400ms cubic-bezier(0.42, 0.26, 0.04, 0.84);
  left: calc(50% - 9px);
}
#project-crave-point:hover {
  background-color: var(--main-color);
  border-color: var(--accent-color);
}
#project-crave-point a {
  position: absolute;
  bottom: -10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: calc(28px + 0.5em);
  padding-top: 0.5em;
  white-space: nowrap;
}

#project-kifflom-point {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: lightgray;
  border: 4px solid lightgray;
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  display: flex;
  justify-content: center;
  transition: all 400ms cubic-bezier(0.42, 0.26, 0.04, 0.84);
  left: calc(100% - 18px);
}
#project-kifflom-point:hover {
  background-color: var(--main-color);
  border-color: var(--accent-color);
}
#project-kifflom-point a {
  position: absolute;
  bottom: -10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: calc(28px + 0.5em);
  padding-top: 0.5em;
  white-space: nowrap;
}

#project-aligator {
  margin-bottom: 7em;
}

#skills .skills-container {
  display: flex;
  gap: 0.5em 1.4em;
  margin-bottom: 5em;
  flex-wrap: wrap;
}
#skills .skills-container .skill {
  border-color: var(--main-color);
  color: var(--main-color);
  border-style: solid;
  border-width: 0.5em;
  width: 6em;
  height: 6em;
  position: relative;
  overflow: hidden;
  text-align: center;
}
#skills .skills-container .skill .no-icon {
  font-size: 1.5em;
  font-style: normal;
}
#skills .skills-container .skill i {
  font-size: 4em;
}
#skills .skills-container .skill span {
  font-size: 1.5em;
}
#skills h3 {
  font-size: 1.7em;
  margin-bottom: 0.6em;
  margin-left: 0.3em;
}

.center-cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotation-cont {
  width: 100%;
  height: 100%;
  transition: all 450ms;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.59, 1.21);
  transform-origin: 50% 100%;
}

.rotated {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.skill {
  width: 6em;
  height: 6em;
}
.skill:hover .rotation-cont {
  transform: rotate(180deg);
}

/*
    style.css
    Michal Majer
    xmajer21
*/

/*# sourceMappingURL=style.css.map */
